language: csharp
solution: System.FrameworkExtensions.sln
install:
  - nuget restore System.FrameworkExtensions.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release System.FrameworkExtensions.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./System.FrameworkExtensions.Tests/bin/Release/System.FrameworkExtensions.Tests.dll
  
